<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7fd0e6">  <td>19/02/17 09:30:39</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:bl.framework.testcases.Facebook@617faa95]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1535634836</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/02/17 09:30:40</td>   <td>1142</td> <td>&nbsp;</td><td title="&gt;&gt;Facebook.setData()[pri:0, instance:bl.framework.testcases.Facebook@617faa95]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1535634836</td>   <td></td> </tr>
<tr bgcolor="7fd0e6">  <td>19/02/17 09:30:40</td>   <td>1152</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:bl.framework.testcases.Facebook@617faa95]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1535634836</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/02/17 09:30:40</td>   <td>1170</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Facebook.fb()[pri:0, instance:bl.framework.testcases.Facebook@617faa95]">fb</td> 
  <td>main@1535634836</td>   <td></td> </tr>
<tr bgcolor="7fd0e6">  <td>19/02/17 09:31:07</td>   <td>27997</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:bl.framework.testcases.Facebook@617faa95]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1535634836</td>   <td></td> </tr>
</table>
