<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6fa38a">  <td>19/02/17 22:03:07</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:bl.framework.testcases.TC001_LoginAndLogout@3c0f93f1]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@601893033</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/02/17 22:03:08</td>   <td>1226</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_LoginAndLogout.setData()[pri:0, instance:bl.framework.testcases.TC001_LoginAndLogout@3c0f93f1]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@601893033</td>   <td></td> </tr>
<tr bgcolor="6fa38a">  <td>19/02/17 22:03:08</td>   <td>1240</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:bl.framework.testcases.TC001_LoginAndLogout@3c0f93f1]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@601893033</td>   <td></td> </tr>
<tr bgcolor="6fa38a">  <td>19/02/17 22:03:09</td>   <td>1951</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:bl.framework.testcases.TC001_LoginAndLogout@3c0f93f1]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@601893033</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/02/17 22:03:21</td>   <td>14189</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginAndLogout.crtLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:bl.framework.testcases.TC001_LoginAndLogout@3c0f93f1]">crtLead</td> 
  <td>main@601893033</td>   <td></td> </tr>
<tr bgcolor="6fa38a">  <td>19/02/17 22:03:59</td>   <td>51730</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:bl.framework.testcases.TC001_LoginAndLogout@3c0f93f1]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@601893033</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/02/17 22:04:12</td>   <td>65194</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginAndLogout.crtLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:bl.framework.testcases.TC001_LoginAndLogout@3c0f93f1]">crtLead</td> 
  <td>main@601893033</td>   <td></td> </tr>
<tr bgcolor="6fa38a">  <td>19/02/17 22:04:45</td>   <td>98306</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:bl.framework.testcases.TC001_LoginAndLogout@3c0f93f1]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@601893033</td>   <td></td> </tr>
</table>
